* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", "sans-serif";
}

.ranges-slider > .swiper-pagination {
  bottom: -5px;
}

.testimonialswiper .swiper-pagination {
  bottom: -5px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #202925;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 12px;
  border-radius: 10px;
  background: #000000;
}

@keyframes marquee {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueemobile {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

@media (max-width: 768px) {
  .animate-marquee {
    animation: marqueemobile 8s linear infinite;
  }
}
