* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", "sans-serif";
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #202925 !important;
  border-radius: 50% !important;
  transition: all 0.2s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  width: 24px !important;
  height: 12px !important;
  border-radius: 10px !important;
  background: #000000 !important;
}

@keyframes marquee {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueemobile {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}

@media (max-width: 768px) {
  .animate-marquee {
    animation: marqueemobile 10s linear infinite;
  }
}
